Source: dopamine
Section: science
Priority: optional
Maintainer: Julien Lamy <lamy@unistra.fr>
Build-Depends: debhelper (>= 8.0.0), 
               cmake,
               libboost-filesystem-dev, 
               libboost-system-dev, 
               libboost-regex-dev, 
               libboost-random-dev, 
               libboost-thread-dev, 
               libboost-test-dev,
               libcgicc5-dev, 
               libdcmtk2-dev, 
               libldap2-dev, 
               liblog4cpp5-dev, 
               libmimetic-dev, 
               libmongo-client-dev, 
               libqt4-dev, 
               libssl-dev, 
               mongodb-dev, 
               mongodb 
Standards-Version: 3.9.6
Homepage: https://github.com/lamyj/dopamine
Vcs-Browser: https://github.com/lamyj/dopamine
Vcs-Git: https://github.com/lamyj/dopamine

Package: dopamine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: Document-oriented PACS
 Dopamine is a document-oriented PACS, i.e. DICOM server.
 .
 This package contains the application.

Package: dopamine-doc
Architecture: all
Description: Document-oriented PACS
 Dopamine is a document-oriented PACS, i.e. DICOM server.
 .
 This package contains the documentation.
