Source: dopamine
Section: science
Priority: optional
Maintainer: Julien Lamy <lamy@unistra.fr>
Build-Depends: debhelper (>= 9), 
               cmake,
               pkg-config,
               libboost-filesystem-dev,
               libboost-regex-dev,
               libboost-thread-dev,
               libcgicc5-dev,
               libldap2-dev,
               liblog4cpp5-dev,
               libmimetic-dev,
               libodil0-dev (>= 0.7.2),
               libsasl2-dev,
               libssl-dev,
               dcmtk,
               libboost-test-dev,
               mongodb-clients,
               mongodb-server,
Standards-Version: 3.9.8
Homepage: https://github.com/lamyj/dopamine

Package: dopamine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: PACS (DICOM server)
 Dopamine is a PACS (DICOM server) backed by MongoDB.
