Source: dopamine
Section: science
Priority: optional
Maintainer: Julien Lamy <lamy@unistra.fr>
Build-Depends: debhelper (>= 10), 
               cmake,
               pkg-config,
               libboost-filesystem-dev,
               libldap2-dev,
               liblog4cpp5-dev,
               libmongoclient-dev,
               libodil-dev (>= 0.9.2),
               dcmtk,
               libboost-test-dev,
               mongodb
Standards-Version: 4.1.4
Homepage: https://github.com/lamyj/dopamine

Package: dopamine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, lsb-base
Description: PACS (DICOM server)
 Dopamine is a PACS (DICOM server) backed by MongoDB.
