#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --builddirectory=build --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_TESTING:BOOL=OFF

override_dh_install-arch:
	mv debian/dopamine/usr/etc debian/dopamine
	dh_install
